$font-family: 'Inter', 'Helvetica Neue', 'Roboto', sans-serif;

$color-background: #ffffff;
$color-main: #222222;
$color-main-light: #cccccc;
$color-main-lighter: #e5e5e5;
$color-main-contrast: #ffffff;
$color-menu-link-top: #fafafa;

$font-size-xs: 0.75rem;
$font-size-s: 0.875rem;
$font-size-m: 1rem;
$font-size-l: 1.125rem;
$font-size-xl: 1.25rem;
$font-size-s-s: 0.8125rem;

$main-padding: 8rem 2rem;
$mobile-padding-md: 7.2rem 2rem;
$mobile-padding-sm: 7rem 1.5rem;
$mobile-padding-xs: 6.7rem 1rem;