@use './abstracts/scss/' as *;

a {
	text-decoration: none;
}

button {
	font-family: $font-jost;
}

h1,
h2,
h3,
h4,
p {
	margin: 0;
	padding: 0;
}

.main-container {
	min-width: $min-width-main;
	margin: 0 auto;
}