@use '../../variables' as *;

.container {
	height: 5em;
	background-color: rgba(255, 255, 255, 0.5);
	backdrop-filter: blur(5px);
	border-bottom: 1px solid $color-main;
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 99;
	min-width: 320px;
	padding: 0 2.2rem;
}

.wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 5em;
	a {
		color: $color-main;
	}
	ul {
		margin: 0;
		padding: 0;	
		li {
			display: inline;
			list-style: none;
			padding: 0 1.428em;
			transition: 0.4s ease;
			position: relative;
			span {
				position: relative;
				transition: color 0.4s ease;
				&:after{
					content: "";
					position: absolute;
					width: 100%;
					height: 1.5px;
					top: 50%;
					left: 0;
					background-color: $color-main;
					transform: scaleX(0);
					transform-origin: center;
					transform-origin: bottom left;					
					transition: transform 0.4s ease;
				}
				&:hover:after {
					transform: scaleX(1);
					transform-origin: center;
					transform-origin: bottom left;	
				}
				&:hover{
					color: rgba(0, 0, 0, 0.3);
				}
			}	
		}		
	}
}

.logoSvg {
	transform: scale(2);
	transform-origin: left;
	color: $color-main;
	margin: 0 1.428em 0 0;
}	
.left {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	font-size: $font-size-s;
	font-weight: 500;
	text-transform: uppercase;			
}
.right {
	font-size: $font-size-s;
	font-weight: 500;
	text-transform: uppercase;
	text-align: right;
	ul {
		li {
			padding: 0;
		}
	}
}


@media screen and (min-width : 1025px) {
	.wrapper.mobile {
		display: none;
	}
	.sideMenu {
		display: none;
	}
}

@media screen and (max-width : 1024px) {
	.wrapper.web {
		display: none;
	}
	.container {
		height: 4.375rem;
	}
	.wrapper {
		justify-content: center;
		height: 4.375rem;
	}
	.mobileIcon {
		width: calc(100% / 3);
	}
	.center {
		text-align: center;
	}
	.logoSvg {
		transform-origin: center;
		margin: 0;
	}
	.menuSvg {
		transform: scale(1.2, 1.5);
		color: $color-main;
	}
	.cartSvg {
		transform: scale(1.4, 1.2);
		color: $color-main;
	}
	.cartIcon {
		span {
			vertical-align: top;
			font-size: $font-size-xs;
			padding-left: 1.5px;
		}
	}
	.sideMenu {
		position: fixed;
		top: 0;
		left: 0;
		height: 100vh;
		z-index: 900;
	}
	.sideMenuContainer {
		position: absolute;
		width: 40vw;
		height: 100%;
		background-color: $color-background;
		left: -40vw;
		transition: 0.3s ease;
		&.active {
			left: 0;
		}	
	}
	.sideMenuCloseWrapper {
		height: 4.375rem;
		display: flex;
		align-items: center;
		justify-content: flex-start;
		border-bottom: 1px solid $color-main-light;
	}
	.closeMenu {
		padding: 0 0 0 2.2rem;
		display: flex;
		align-items: center;
		justify-content: flex-start;
		width: 100%;
		height: 3em;
		cursor: pointer;
	}
	.sideMenuWrapper {
		width: 100%;
		ul {
			margin: 0;
			padding: 0;
			li {
				list-style: none;
				border-bottom: 1px solid $color-main-light;	
				a {
					padding: 0 0 0 2.2rem;
					margin: 0.4em 0;
					width: 100%;
					height: 2.95em;
					color: $color-main;
					display: flex;
					align-items: center;
					justify-content: flex-start;					
				}
				span {
					text-transform: uppercase;
					font-weight: 600;
					font-size: $font-size-s;
				}
			}		
		}
	}
	.sideMenuBackground {
		display: none;
		width: 100vw;
		height: 100%;
		min-width: 320px;
		background-color: rgba(0, 0, 0, 0.5);
		&.darkBg {
			display: block;
		}
	}
}

@media screen and (max-width : 767px) {	
	.container {
		padding: 0 1.25rem;
	}
	.logoSvg {
		transform: scale(1.8);
	}
	.sideMenuContainer {
		width: 45vw;
		left: -45vw;
	}
	.sideMenuCloseWrapper {
		height: 4.375em;
	}
	.closeMenu {
		height: 2.95em;
	}
	.closeMenu {
		padding: 0 0 0 1.1rem;
	}
	.sideMenuWrapper {
		width: 100%;
		ul {
			li {
				a {
					padding: 0 0 0 1.1rem;				
				}
			}		
		}
	}
}

@media screen and (max-width :480px) {
	.sideMenuContainer {
		width: 80vw;
		left: -80vw;
	}
}