$color-bg: #ffffff;
$color-text: #222222;
$color-text-contrast: #ffffff;
$color-primary: #6fcf97;
$color-primary-shade: #008000;
$color-primary-tint: #ff0000;
$color-image-background: #fafafa;
$color-bg-tint: #d3f0df;
$color-light-grey: #cccccc;
$color-lightest-grey: #e5e5e5;
$color-alert: #ff4040;