$max-width-main: 80rem; // 1280px;
$min-width-main: 20rem; // 320px;

$side-padding-m: 1.75rem;
$side-padding-s: 1rem;

$navbar-height-web: 4.375rem;
$footer-height-web: 5.5rem;

$navbar-height-mobile: 3.5rem;
$footer-height-mobile: 5rem;