@use '../../abstracts/scss/' as *;

.homeBanners {
	display: grid;
	grid-template-columns: auto auto auto;
	overflow: hidden;
}

.bannerBox {
	position: relative;
	display: flex;
	cursor: pointer;
}

.textBg {
	position: absolute;
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background: rgba(0, 0, 0, 0.2);
	color: rgba(255, 255, 255, 1);
	transition: 0.5s ease;

	&:hover {
		background: rgba(0, 0, 0, 0.5);
		color: rgba(255, 255, 255, 1);
	}
}

.bannerText {
	font-size: $font-size-3xl;
	text-transform: capitalize;
	letter-spacing: 0.2em;
	text-shadow: 0 0 0.75em $color-text;
}

.bannerImg {
	display: block;
	width: 100%;
	object-fit: cover;
}


@media screen and (max-width : 767px) {
	.homeBanners {
		display: flex;
		flex-direction: column;
	}

	.bannerBox {
		height: 40vw;
	}

	.bannerText {
		font-size: $font-size-4xl;
	}
}

@media screen and (max-width : 575px) {
	.bannerText {
		font-size: $font-size-3xl;
	}
}