@use '../../abstracts/scss/' as *;

.itemDetails {
	max-width: $max-width-main;
	margin: 0 auto;
	margin-top: $navbar-height-web;
	padding: 2.75rem $side-padding-m 5rem;
}

.itemDetailsContainer {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	padding-bottom: 6rem;
}


@media screen and (max-width : 1023px) {
	.itemDetails {
		margin-top: $navbar-height-mobile;
		padding: 2rem $side-padding-m 4rem;
	}
}

@media screen and (max-width : 767px) {
	.itemDetails {
		padding: 1.75rem $side-padding-s 4rem;
	}

	.itemDetailsContainer {
		flex-direction: column;
	}
}

@media screen and (max-width : 575px) {
	.itemDetails {
		padding: 1.75rem $side-padding-s 3.25rem;
	}
}