@use '../../abstracts/scss/' as *;

.recentlyViewed {
	width: 100%;
	text-align: center;
	color: $color-text;
}

.listTitle {
	margin-bottom: 2rem;
	font-size: $font-size-l;
	font-weight: 600;
}

.itemList {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-wrap: wrap;
	text-align: left;
	gap: 0 0.75rem;
}

.itemCard {
	width: calc(100% / 4 - (3/4 * 0.75rem));
}


@media screen and (max-width : 1023px) {
	.itemList {
		gap: 0 1rem;
	}

	.itemCard {
		width: calc(100% / 4 - (3/4 * 1rem));
	}
}

@media screen and (max-width : 767px) {
	.itemList {
		gap: 2rem 1rem;
	}

	.itemCard {
		width: calc(100% / 2 - (1/2 * 1rem));
	}
}

@media screen and (max-width : 575px) {
	.listTitle {
		margin-bottom: 1.75rem;
	}

	.itemList {
		gap: 1.75em 1rem;
	}
}