@use '../../abstracts/scss/' as *;

.itemCardWrapper {
	padding: 0.5rem 0.5rem;
	border: 1px solid transparent;
	transition: 0.5s ease;

	&:hover {
		border: 1px solid $color-text;
	}
}

.textWrapper {
	margin-top: 0.75em;
	color: $color-text;
	text-transform: capitalize;
	font-size: $font-size-s;
	line-height: 1.6em;
	padding: 0 0.125rem;
}

.itemCardName {
	font-weight: 500;
}


@media screen and (max-width : 1023px) {
	.itemCardWrapper {
		padding: 0;
		border: none;
		transition: none;

		&:hover {
			border: none;
		}
	}
}

@media screen and (max-width : 575px) {
	.textWrapper {
		font-size: $font-size-s-1;
	}
}