@use '../../abstracts/scss/' as *;

.cart {
	max-width: $max-width-main;
	margin: 0 auto;
	margin-top: $navbar-height-web;
	padding: 2.75rem $side-padding-m 5rem;
	font-size: $font-size-s;
}

.cartTitle {
	text-align: center;
	font-size: $font-size-l;
	font-weight: 600;
	text-transform: uppercase;
	margin-bottom: 1rem;
}

.emptyText {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 50vh;
	border-bottom: 1px solid $color-light-grey;

	h2 {
		text-align: center;
		font-size: $font-size-s;
		font-weight: 400;
		font-style: italic;
		margin-bottom: 1rem;
	}
}

.emptyBtn {
	margin-top: 3.125rem;
	display: flex;
	align-items: flex-start;
	justify-content: center;

	button {
		font-size: $font-size-s;
		height: 4em;
		text-transform: uppercase;
		border: none;
		width: 50%;
		min-width: 25em;
		background-color: $color-text;
		color: $color-text-contrast;
		cursor: pointer;
		transition: 0.5s ease;

		&:hover {
			background-color: $color-light-grey;
			color: $color-text;
		}
	}
}

.calculate {
	padding: 3.125em 0.625em;
	text-align: right;

	span {
		font-size: $font-size-l;
		font-weight: 600;
	}
}

.cartBtnWrapper {
	display: flex;
	align-items: flex-end;
	justify-content: center;
	flex-direction: column;
	gap: 1em;
}

.cartBtn {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	width: 50%;

	button {
		height: 4em;
		text-transform: uppercase;
		border: none;
		width: 48%;
		background-color: $color-light-grey;
		color: $color-text;
		cursor: pointer;
		transition: 0.5s ease;

		&:hover {
			background-color: $color-lightest-grey;
		}
	}
}

.checkout {
	button {
		width: 100%;
		background-color: $color-text;
		color: $color-text-contrast;

		&:hover {
			background-color: darkkhaki;
		}
	}
}


@media screen and (max-width : 1023px) {
	.cart {
		margin-top: $navbar-height-mobile;
		padding: 2rem $side-padding-m 4rem;
	}

	.cartBtn {
		min-width: 30em;
	}
}

@media screen and (max-width : 767px) {
	.cart {
		padding: 1.75rem $side-padding-s 4rem;
	}

	.calculate {
		padding: 2.75em 0.625em;
	}

	.cartBtnWrapper {
		align-items: center;
	}

	.cartBtn {
		min-width: 100%;
	}

	.emptyBtn {
		margin-top: 2.5rem;
	}
}

@media screen and (max-width : 575px) {
	.calculate {
		padding: 2.5em 0.625em;
	}

	.cartBtn {
		button {
			font-size: $font-size-s-1;
		}
	}

	.emptyBtn {
		button {
			width: 100%;
			min-width: initial;
		}
	}
}