@use '../../abstracts/scss/' as *;

.itemList {
	max-width: $max-width-main;
	margin: 0 auto;
	margin-top: $navbar-height-web;
	padding: 2.25rem 1.25rem 5rem;
}

.itemListContainer {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	flex-wrap: wrap;
	gap: 1.5rem 0.75rem;
}

.itemCard {
	width: calc(100% / 4 - (3/4 * 0.75rem));
}

.loadMoreBtn {
	display: flex;
	justify-content: center;
	margin-top: 3.25em;
	font-size: $font-size-s;
	text-transform: capitalize;
	color: $color-text;

	button {
		padding: 0.75em 4em;
		border: 1px solid $color-text;
		border-radius: 9999px;
		background: none;
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;
		transition: 0.4s ease;

		svg {
			margin-left: 0.5em;
		}

		&:hover {
			opacity: 0.5;
		}
	}
}


@media screen and (max-width : 1023px) {
	.itemList {
		margin-top: $navbar-height-mobile;
		padding: 2rem $side-padding-m 4rem;
	}

	.itemListContainer {
		gap: 2rem 1.5rem;
	}

	.itemCard {
		width: calc(100% / 3 - (2/3 * 1.5rem));
	}

	.loadMoreBtn {
		button {
			&:hover {
				opacity: 1;
			}
		}
	}
}

@media screen and (max-width : 767px) {
	.itemList {
		padding: 1.75rem $side-padding-s 4rem;
	}

	.itemListContainer {
		gap: 2rem 1rem;
	}

	.itemCard {
		width: calc(100% / 2 - (1/2 * 1rem));
	}

	.loadMoreBtn {
		margin-top: 2.75em;
	}
}

@media screen and (max-width : 575px) {
	.itemList {
		padding: 1.75rem $side-padding-s 3.25rem;
	}

	.itemListContainer {
		gap: 1.75rem 1rem;
	}

	.loadMoreBtn {
		font-size: $font-size-s-1;
	}
}